<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel='shortcut icon' href='/img/iconfinder_032_95930.png'/>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">

<body>

<header>
    <header class="site-header">
        <img src="/img/iconfinder_032_95930.png" hight="100" width="100" alt="logo" />
        <span class="site-title">Exam</span>
        <span class="site-slogan">Non omne quod nitet aurum est.</span>
    </header>
    <nav class="navbar">
        <a href="/exam/index"
             class='<%= path === "/index" ||  path === "/" ? "selected" : "a-navbar" %>'>Index</a> |
        <a href="/exam/visa"
            class='<%= path === "/visa" ? "selected" : "a-navbar" %>'>Visa</a>
        <a href="/exam/search"
            class='<%= path === "/search" ? "selected" : "a-navbar" %>'>Sök</a>
    </nav>
</header>

<main>
<article  class="all-browsers">
