<!doctype html>
<html>
   <head>
      <title>Redirect to Exam</title>
      <meta http-equiv = "refresh" content = "2; url = ./exam/" />
   </head>
   <body>
      <p>Redirect to Exam-sida</p>
   </body>
</html>
