<!doctype html>
<html>
   <head>
      <title>Redirect to bank-sida</title>
      <meta http-equiv = "refresh" content = "2; url = ./bank/" />
   </head>
   <body>
      <p>Redirect to bank-sida</p>
   </body>
</html>
