<%- include("../partials/header", {title: title, path: path }); %>

<header>
        <h1>Välkommen till min Eshop</h1>
        <p class="author">Eshop senast uppdaterad <time datetime="2021-03-08 01:05:12">den 8. mars 2021</time></p>
    </header>

<%- include("../partials/footer"); %>
