<%- include("../partials/header", {title: title, path: path }); %>

<header>
        <h1>Välkommen till min Exam index-sida</h1>
        <p class="author">Denna sida är senast uppdaterad <time datetime="2021-03-24 13:05:12">den 24. mars 2021</time></p>
    </header>

<%- include("../partials/footer"); %>
