<!doctype html>
<html>
   <head>
      <title>Redirect to Eshop</title>
      <meta http-equiv = "refresh" content = "2; url = ./eshop/" />
   </head>
   <body>
      <p>Redirect to Eshop-sida</p>
   </body>
</html>
