<%- include("header", {title: title, path: path }); %>

<header>
        <h1>Welcome to the bank</h1>
        <p class="author">Updated <time datetime="2021-02-14 01:57:12">Den 14. februari 2021</time></p>
    </header>

    <ul>
        <li><a href="balance">View account balance</a></li>
    </ul>

<%- include("footer"); %>
