<%- include("../partials/header", {title: title, path: path }); %>

<header>
        <h1>Session</h1>
        <section>
            Kund id: <%= kund_id %><br>
            Order id: <%= order_id %> 
        </section>
    </header>

<%- include("../partials/footer"); %>
