<%- include("../partials/header", {title: title, path: path }); %>

<header>
        <h1>Om författaren</h1>
        <p class="author">Nenad Cuturic</p>
        <p class="author">Kurs: DV1606/DV1605 V21 lp3 Databasteknologier för webben</p>
    </header>

<%- include("../partials/footer"); %>
